@import url("color.css");

body {
    height: 100%;
    color:black;
    background-color: var(--primarycolor);
    font-family: 'Poppins', sans-serif;
  }
#header{
    margin-top: 1%;
}

.w3-red{
background-color: var(--primarycolor);
/* color: var(--primarycolor); */

}
.w3-container, .w3-panel {
  padding: 0.01em 17px;
  padding-top: 0.01em;
  padding-right: 17px;
  padding-bottom: 0.01em;
  padding-left: 17px;
}
.w3-bar {
  width: 97%;
  overflow: hidden;
  margin-left: 1.5%;
}
.red-background{
  background-color:rgb(133, 133, 146);
}
  /* loader */
.lds-ring {
  display: inline-block;
  margin-top: 10%;
  margin-left: 45%;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#header{
  margin-top: 2%;
}
a:active,a:hover, a:link, a:visited{
  color: white;
}
#table1,#table2,#table3,#table4{
  background-color: aliceblue;
  
    table-layout: auto;
    width: 100%;  
  
}